# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Runtime & temp
pids
*.pid
*.seed
*.pid.lock
*.tgz
.node_repl_history
.eslintcache
.npm

# Coverage & testing
coverage
.nyc_output
lib-cov
.grunt

# Dependency directories
node_modules/
bower_components/
build/Release

# Firebase
.firebase/
.firebaserc

# Vercel
.vercel/

# dotenv
.env
/client/.env.local
/server/.env

# Prisma
/generated/prisma
/server/generated/prisma/
/server/prisma/dev.db
/server/prisma/dev.db-journal

# Client build
/client/.next/
/client/node_modules/

# Server build
/server/dist/
/server/node_modules/

# Yarn
.yarn-integrity